// Colors
$c-blue: #4f9dfb;
$c-dark-blue: #363843;
$c-dark-blue-hover: #1e202c;
$c-orange: #e48126;

$c-gray-blue: #6a727f;
$c-gray-blue2: #838d9d;
$c-gray-blue3: #bdcee3;

$c-light-blue: #ebf0f7;
$c-light-blue2: #e2e7ec;
$c-gray: #bebec0;

$c-light-green: #f1f8f1;

$c-placeholder: #b1b7c1;



// Constants
$animation-time: 0.2s;



// Dimensions
$header-height: 68px;
$sidebar-width: 90px;
$sidebar-width-expanded: 175px;

$input-height: 35px;
$input-height-big: 40px;



// Spacings
$main-gap: 15px;
$small-gap: 10px;
$big-gap: 30px;