.terminal {
  padding: 0 60px;
  .heading {
    text-align: center;
    margin-bottom: 45px;
  }
  .terminal-selector {
    @include childs-vert-align(top, 'true');
    li {
      a {
        display: block;
        width: 100%;
        border: 2px solid $c-light-blue2;
        color: $c-dark-blue;
        text-decoration: none;
        text-align: center;
        @include border-radius(5px);
        @include childs-vert-align();
        @include animate();
        &:hover {
          color: $c-orange;
          border-color: $c-orange;
          font-weight: 600;
        }
      }
    }
    &.type {
      margin: 0 -12px;
      li {
        padding: 12px;
        width: 25%;
        a {
          height: 60px;
          font-size: 16px;
        }
      }
    }
    &.workers {
      margin: 0 -17px;
      li {
        padding: 17px;
        width: 33.333%;
        a {
          height: 80px;
          text-align: left;
          padding: 0 15px;
          @include childs-vert-align();
          span {
            font-size: 17px;
          }
          img {
            @include border-radius(50%);
            vertical-align: middle;
            margin-right: 10px;
          }
        }
      }
    }
  }
}