<header>
    <div class="sidebar-holder">
        <span class="icon-menu"></span>
    </div>
    <div class="header-account-block">
        <div class="account-name">
            <div class="acc-name">Ирина Иванова</div>
            <div class="acc-type">Администратор</div>
        </div>
        <a class="account-image" href="#" title="Аккаунт">
            <img src="http://placehold.it/35x35">
        </a>
        <a href="#" class="logout" title="Выйти">
            <span class="icon-logout"></span>
        </a>
    </div>
</header>