<div class="sidebar">
    <a class="logo" href="index.html" title="Logo"></a>
    <ul class="navigator">
        <li class="active">
            <a href="#">
                <span class="nav-inner">
                    <span class="nav-inner-1">
                        <span class="icon-nomenclature"></span>
                    </span>
                    <span class="nav-inner-2">Номенклатура</span>
                </span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="nav-inner">
                    <span class="nav-inner-1">
                        <span class="icon-staff"></span>
                    </span>
                    <span class="nav-inner-2">Персонал</span>
                </span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="nav-inner">
                    <span class="nav-inner-1">
                        <span class="icon-bid"></span>
                    </span>
                    <span class="nav-inner-2">Заявки</span>
                </span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="nav-inner">
                    <span class="nav-inner-1">
                        <span class="icon-statistics"></span>
                    </span>
                    <span class="nav-inner-2">Отчеты</span>
                </span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="nav-inner">
                    <span class="nav-inner-1">
                        <span class="icon-warhouse"></span>
                    </span>
                    <span class="nav-inner-2">Склад</span>
                </span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="nav-inner">
                    <span class="nav-inner-1">
                        <span class="icon-salary"></span>
                    </span>
                    <span class="nav-inner-2">Зарплата</span>
                </span>
            </a>
        </li>
    </ul>
</div>