html, body {
  height: 100%;
}

body {
  font-family: 'Open Sans';
}

* {
  box-sizing: border-box;
  outline: none;
}

h1 {
  font: 200 24px 'Open Sans';
  margin-bottom: 25px;
}

.site-wrapper {
  height: 100%;
}
