.filter-wrapper {
  margin-bottom: $big-gap;
  &.date-filter {
    table {
      width: auto;
      td {
        padding-right: $main-gap;
        .input-icon-wrap {
          margin: 0 $small-gap;
        }
      }
    }
  }
  table {
    width: 100%;
    tr {
      td {
        vertical-align: middle;
        padding-bottom: $small-gap;
        &.labels {
          padding-right: 38px;
        }
        &.inputs {
          width: 100%;
          .input-text {
            width: 30%;
            margin-right: $small-gap;
          }
        }
        .jq-selectbox {
          width: 100%;
        }
        label {
          white-space: nowrap;
        }
      }
    }
  }
}

.table-opened {
  .filter-wrapper {
    padding: $main-gap $big-gap;
    margin-bottom: 0;
    table {
      width: auto;
      td {
        padding-right: 30px;
        padding-bottom: 0;
        white-space: nowrap;
        .jq-selectbox {
          width: auto;
          min-width: 300px;
        }
      }
    }
  }
}